.banner__container {
  padding: 0 20px;

  img {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }

  .alice-carousel__dots {
    position: absolute;
    bottom: 5px;
    left: 15px;
    margin: 0;
  }

  .alice-carousel__dots-item {
    margin-right: 10px;
    background-color: rgba($color: #ffffff, $alpha: 0.75);

    &.__active {
      width: 25px;
      border-radius: 10px;
    }

    &.__active,
    &:hover {
      background-color: #ffffff;
    }
  }
}