.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  &__tab {
    background-color: #ffffff;
    box-shadow: 0px -3px 9px rgba(0, 0, 0, 0.05);

    .col-3 {
      display: flex;
      align-items: flex-end;

      &:first-child {
        img {
          height: 20px;
          width: 20px;
        }

        span {
          margin-top: 5px;
        }
      }
    }
  
    &__button {
      height: auto;
      width: 100%;
      padding: 7px 0;
  
      img {
        height: 25px;
        width: 25px;
      }
  
      span {
        font-family: 'Montserrat-SemiBold';
        font-size: 12px;
        margin-top: 2px;
      }
  
      &--active {
        color: #ED6B5A;
      }
  
      &--inactive {
        color: #d5d5d5;
      }
  
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }

  &__floating-cart {
    &__container {
      border-radius: 7px;
      position: absolute;
      top: -80px;
      right: 0;
      left: 0;
      background-color: #F15B5D;
      margin: 10px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);

      button {
        background-color: transparent;
        padding: 0;
  
        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
        }
      }

      p {
        color: #ffffff;
        margin: 0;
      }
    }

    &__wrapper {
      padding: 10px 20px;
    }

    &--subtotal {
      font-size: 12px;
    }

    &--loc {
      font-size: 10px;
    }
  }
}