@font-face {
  font-family: 'Montserrat-Regular';
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Montserrat-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.effect-slide--up {
  visibility: visible;
  transition: all 150ms ease-in;

  &--reverse {
    visibility: hidden;
  }
}

.effect-slide--down {
  visibility: hidden;
  transition: all 200ms ease-out;
  transform: translate(0, -100%);

  &--reverse {
    visibility: visible;
  }
}

.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  img {
    height: 200px;
    width: 200px;
  }

  .spinner-border {
    margin-top: 50px;
    border: .175em solid #F15B5D;
    border-right-color: transparent;
  }
}

.error-boundary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
