.header {
  position: relative;
  background-image: url('../images/bg_header.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  padding-bottom: 65px;

  &__search {
    &__container {
      border-radius: 100px;
      overflow: hidden;
      background-color: #ffffff;

      .input-group-text {
        border: 0;
        background-color: #ffffff;
        padding: 0;
        padding-left: 20px;
      }
    }

  
    &__input {
      border: 0;
      font-size: 12px;
      color: #707585;
      padding: 20px;
      padding-left: 15px;

      &:focus {
        box-shadow: 0 0 0 0;
      }
    }
  }

  &__card-location {
    position: absolute;
    right: 20px;
    left: 20px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 15px;
    padding: 12px 15px 5px;

    &__title {
      margin: 0;
      font-size: 12px;
      font-weight: 700;
    }

    &__store {
      padding-bottom: 10px;
      margin-top: 5px;

      p {
        font-family: 'Montserrat-Bold';
        font-size: 14px;
        margin: 0;
        margin-left: 10px;
        line-height: 1.5;

        span {
          font-family: 'Montserrat-Regular';
          font-size: 12px;
          color: #707585;
          margin-left: 10px;
        }
      }

      button {
        border: 0;
        background-color: #F15B5D;
        text-transform: uppercase;
        font-family: 'Montserrat-Bold';
        font-size: 12px;

        &:hover,
        &:focus {
          background-color: #ee5154;
        }

        &:focus {
          border-color: #ee5154;
          box-shadow: 0 0 0 .2rem rgba($color: #ee5154, $alpha: 0.25);
        }

        &:active {
          background-color: #ee4a4c !important;
        }
      }
    }

    &__address {
      border-top: 1px solid #F1F2F6;
      font-size: 12px;
      color: #898B8C;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      padding-top: 10px;

      &--label {
        font-weight: 700;
        margin-right: 5px;
      }
    }
  }

  &__navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    
    &__location {
      padding: 15px 20px;

      &__info {
        margin: 0 15px;

        h6 {
          font-family: 'Montserrat-Bold';
          font-size: 14px;
          margin: 0;
        }

        p {
          font-size: 12px;
          margin: 0;
          margin-top: 3px;
        }
      }
    }
  }
}