.menu {
  padding: 20px;
  margin-top: 30px;

  &__title {
    margin: 0;
    font-family: 'Montserrat-SemiBold';
    font-size: 14px;
  }

  &__button {
    &__container {
      padding: 0 5px;
    }

    &__wrapper {
      padding: 5px;
      margin-top: 10px;
    }

    &__item {
      border-radius: 10px;
      background: #FDF4FC;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      padding: 5px;

      img {
        height: 30px;
        width: 30px;
      }
    }

    &__title {
      font-size: 10px;
      margin: 0;
      margin-top: 8px;
    }
  }
}