.product {
  background: #FFFFFF;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding-bottom: 60px;

  &__title {
    font-family: 'Montserrat-SemiBold';
    font-size: 14px;
    margin: 0;
    margin-bottom: 15px;
  }

  &__button--more {
    font-family: 'Montserrat-SemiBold';
    font-size: 12px;
    color: #F15B5D;
    margin-bottom: 15px;

    &:hover,
    &:focus,
    &:active {
      color: #f1474a;
      text-decoration: none;
    }
  }

  &__list {
    &__item {
      border-bottom: 1px solid #F1F2F6;
      padding: 15px 10px;
      min-height: 100px;

      img {
        border-radius: 7px;
        height: 80px;
        width: 80px;
      }

      &__info {
        flex: 1;
        padding-left: 15px;

        &__name {
          font-size: 12px;
          margin: 0;
        }

        &__price {
          font-family: 'Montserrat-Bold';
          margin: 0;

          &--currency {
            font-size: 12px;
            color: #F1885B;
          }

          &--pcs {
            font-size: 10px;
            color: #C7C7C9;
            margin-left: 5px;
          }
        }

        &--add {
          border: 0;
          background-color: #F15B5D;
          font-family: 'Montserrat-Regular';
          font-size: 10px;
          text-transform: uppercase;
          padding: 5px 8px;
  
          &:hover,
          &:focus {
            background-color: #ee5154;
          }
  
          &:focus {
            border-color: #ee5154;
            box-shadow: 0 0 0 .2rem rgba($color: #ee5154, $alpha: 0.25);
          }
  
          &:active {
            background-color: #ee4a4c !important;
          }
        }

        &--plus {
          border: 1px solid #F15B5D;
          background-color: #F15B5D;
          padding: 0 4px;
  
          &:hover,
          &:focus {
            background-color: #ee5154;
          }
  
          &:focus {
            border-color: #ee5154;
            box-shadow: 0 0 0 .2rem rgba($color: #ee5154, $alpha: 0.25);
          }
  
          &:active {
            background-color: #ee4a4c !important;
          }
        }

        &--minus {
          border: 1px solid #C4C4C4;
          background-color: #ffffff;
          padding: 0 4px;
          margin-right: 30px;
  
          &:hover,
          &:focus {
            border-color: #C4C4C4;
            background-color: #E4E4E4;
          }
  
          &:focus {
            border-color: #C4C4C4;
            box-shadow: 0 0 0 .2rem rgba($color: #E4E4E4, $alpha: 0.25);
          }
  
          &:active {
            background-color: #E4E4E4 !important;
          }
        }

        &__count {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}